#notificationBar {
    text-align: center;
    margin: 0 7px 7px 7px;
    padding: 7px;
    font-weight: bold;
    background-color: white;
    color: white;
    max-width: 710px;
}

div.wrapper {
    margin: 0 auto;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid .1em #0c0004;
}

.buttonWrapper {
    text-align: center;
    margin-top: 7px;
}
